body {
  text-align: center;
}

.App-header {
  background-color: #000;
  height: 100px;
  padding: 20px;
  color: white;
  margin-bottom: 15px;
}
.subheader{
  display: inline-flex;
}
.headerText{
  padding-top: 10px;
}
.App-intro {
  font-size: large;
}

.App-ticker {
  font-size: medium;
}

.card{
  font-size: medium;
  width: 1.5rem;
  padding: 13px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border-style: double;
  border-width: 5px;
  border-radius: 5px;
}

.isSelected{
  background: lightskyblue;
}

.notSelected{
  background: aliceblue;
}

.hands{
  display: inline-flex;
}

.hand{
  display: inline-flex;
  border-style: groove;
  border-width: 5px;
}

.active{
  display: inline-flex;
}

.button{
  display: inline-grid;
  width: 5rem;
  padding:10px;
  margin-left:5px;
  margin-right:5px;
  font-size: medium;
  font-weight: 700;
  background: lightgray;
  border-style: double;
  border-width: 5px;
  border-radius: 5px;
}
.button:active{
  background: dimgray;
}

.buttonList{
  display: inline-flex;
}

.header{
  margin: 0;
  padding-bottom: 5px;
}

.players{
  display: inline-grid;
}

.lastPlayed{
  margin-left: 20px;
}

.message{
  font-weight: 300;
  padding: 24px 5px;
}